*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif 
}

.container{
    width: 80%;
    margin: 0 auto;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

/* header */

header{
    background-color: #3161e0;
}

header nav{
    /* debug */
    height: 100px;
    background-color: aquamarine;
}

/* jumbotron */
#jumbotron .container{
    width: 60%;
    /* debug */
    background-color: pink;
    height: 300px;
}

/* sezioni */
.row{
    /* debug */
    padding-top: 80px;
}

.colsx{
    float: left;
    width: 40%;
    /* debug */
    background-color: red;
    height: 150px ;
}

.coldx{
    margin-left: 10%;
    float: left;
    width: 50%;
    /* debug */
    background-color: blue;
    height: 150px ;
}

/* footer */

footer{
    background-color: #23272A;
    color: white;
    /* debug */
    height: 300px;
}

.grigliafooter{
    width: calc(70% / 4);
    float: left;
    padding-left: 20px;
    /* debug */
    background-color: red;
    height: 100px;
    border: 3px solid black;
}

#griglialarga{
    width: 30%;
}