*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif 
}

.container{
    width: 80%;
    margin: 0 auto;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

/* header */

header{
    background-color: #3161E0;
    color: white;
}

header nav{
    height: 80px;
    padding-top: 25px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

#logo-discord{
    vertical-align: middle;
    display: inline;
}

nav ul li:first-child{
    padding-right: 20%;
}


.li-navcentrali{
    padding: 0 2%;   
}

#nav-accedi{
    margin-left: 20%;
    color: #23272A;
}


/* jumbotron */
#jumbotron .container{
    width: 60%;
    height: 630px;
    position: relative;

}

#imgjumbo{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

/* testo jumbotron */
    
#jumbotext{
   padding-top: 120px;
   text-align: center;
   
}
h2{
    font-size: 3.0vw;
    margin-bottom: 20px;
}

span{
    font-size: 1.3vw;
    width: 50vw;
    margin: 0 auto;
    text-align: center;
}

/* bottoni */

.button{
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 15px;
    text-decoration: none;
    font-weight: bold ;
}

#jumbotext ul li{
    padding-top: 30px;
    display: inline-block;
}


/* sezioni */
.row{
    /* debug */
    padding-top: 80px;
}

.pagina-contenuto{
    height: 100vh;
    padding-top: 50px;
}

.colsx{
    float: left;
    width: 40%;

}

.coldx{
    float: left;
    width: 50%;
    padding-left: 10%;
}

/* footer */

footer{
    background-color: #23272A;
    color: white;
    /* debug */
    height: 300px;
}

.grigliafooter{
    width: calc(70% / 4);
    float: left;
    padding-left: 20px;
    /* debug */
    background-color: red;
    height: 100px;
    border: 3px solid black;
}

#griglialarga{
    width: 30%;
}